@import "_mixins";
@import "susy";

/* Spacing variables
   ========================================================================== */

$large-spacing:                   20px;
$medium-spacing:                  10px;


/* Colors variables
   ========================================================================== */

$white:                   #fff;


/* Font variables
   ========================================================================== */

$font-size-larger:                       160%;



// Standalone search container
.content-wrapper {
  .pane-easyddb-search-ext-search-ext {
    .form-item {
      max-width: 100%;
    }
  }
}

.pane-easyddb-search-ext-search-ext {
  overflow: hidden;
  margin: $large-spacing 0;
  padding: $medium-spacing $large-spacing;
  background-color: $white;

  select {
    -webkit-appearance: none;
    width: 100%;
  }

  .submit-wrap {
    input {
      @include min-height(42px);
    }
  }

  label {
    text-align: left;
    font-size: $font-size-larger;
    vertical-align: middle;
  }

  // Media till-medium

  @include till-medium() {
    label {
      margin-bottom: $medium-spacing;
    }
  }

  // Media from-medium

  @include from-medium() {

    form > div {
      display: table;
      width: 100%;
      text-align: right;
    }

    .select-wrap,
    .submit-wrap {
      display: table-cell;
      vertical-align: top;
    }

    .submit-wrap {
      width: 5%;
      text-align: right;
      padding-left: $medium-spacing;
    }

    .form-item {
      display: table;
      margin-bottom: 0;
      width: 100%;

      label,
      select {
        display: table-cell;
      }

      label {
        padding-right: $medium-spacing;
        width: 35%;
      }
    }
  }
}
